

<div id="login-form" class="container body-element">
	<form class="form-signin" role="form">
		<legend id="bt-header" class="form-signin-heading">Login</legend>
		<input type="email" class="form-control" placeholder="Email address" required autofocus>
		<input type="password" class="form-control" placeholder="Password" required>
		<label id="remember-me" class="checkbox checkbox-inline">
			<input type="checkbox" value="remember-me">Remember me
		</label>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	</form>
	
	<div id="account" class="label-info[href]">
		<a href="#!/register">Don't have an account? Signup</a>
	</div>
	
	<div id="account" class="label-info[href]">
		<a href="#!/forgot-pass">Forgot Password?</a>
	</div>
</div>